.openbtn{
    margin-top: -155px;
    margin-left: 40%;
    position: relative;
}
.on{
    margin-top: -155px;
    margin-left: 40%;
    position: relative;
}
.bar{
    width: 100%;
  
    top: 0;
    left: 0;
    margin-left: 500px;
}